#Intellij
.idea/
*.iml

#Gradle + subprojects
.gradle/
build/
main-input/out/
main-input/build/
main-input/.gradle/
math/out/
math/build/
math/.gradle/
parser/out/
parser/build/
parser/.gradle/

#Bash scripts
*.sh

#Antlr generated
parser/src/main/gen
